/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    padding: 8px;
    border: none;
    background: var(--bg-button);
    color: var(--bg-white);
}

:root {
    --bg-button: #0061ff;
    --bg-white: white;
    --bg-hero: #b4d0e7;
}

/* Header */
nav {
    background-color: var(--bg-white);
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}

nav .row {
    display: flex;
    padding: 1.125rem;
}

nav .col {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav .col:nth-child(2) {
    justify-content: flex-end;
}

nav .col img {
    padding-right: .5rem;
}

nav .link {
    display: flex;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    display: block;
    padding: 0 .9375rem;
    color: black;
}

/* Header Hero */
.hero {
    background-color: var(--bg-hero);
}

.container-large {
    margin: 0 auto;
    max-width: 1200px;
}

.p-relative {
    position: relative;
    top: 4.375rem;
}

.hero h1 {
    font-weight: 800;
    font-size: 4.375rem;
    padding-bottom: 2.1875rem;
}

.hero .row {
    display: flex;
    padding-top: 1.875rem;
}

.p-hero {
    padding-bottom: 1.875rem;
    word-break: break-word;
    inline-size: 22.375rem;
}

.fa-arrow-down {
    font-size: 3.5rem;
    padding-top: 4.0625rem;
}

.mb {
    margin-bottom: 1.875rem;
}

.hero-img {
    width: 100%;
}