/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    padding: 8px;
    border: none;
    background: var(--bg-button);
    color: var(--bg-white);
}

:root {
    --bg-button: #0061ff;
    --bg-white: white;
    --bg-hero: #b4d0e7;
    --bg-border: #e2e2e4;
}

.section {
    padding: 10.125rem 0;
}
/* Header */
nav {
    background-color: var(--bg-white);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}

nav .row {
    display: flex;
    padding: 1.125rem;
}

nav .col {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav .col:nth-child(2) {
    justify-content: flex-end;
}

nav .col img {
    padding-right: .5rem;
}

nav .link {
    display: flex;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    display: block;
    padding: 0 .9375rem;
    color: black;
}

/* Header Hero */
.hero {
    background-color: var(--bg-hero);
}

.container-large {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 3.125rem;
}

.p-relative {
    position: relative;
    top: 4.375rem;
}

.hero h1 {
    font-weight: 800;
    font-size: 4.375rem;
}

.hero .row {
    display: flex;
    padding-top: 1.875rem;
}

.p-hero {
    padding-bottom: 1.875rem;
    word-break: break-word;
    inline-size: 22.375rem;
}

.fa-arrow-down {
    font-size: 3.5rem;
    padding-top: 4.0625rem;
}

.mb {
    margin-bottom: 1.875rem;
}

.hero-img {
    width: 100%;
}

/* Main */
.container-small {
    margin: 0 auto;
    max-width: 960px;
}

.section h2 {
    font-size: 2.0625rem;
    padding-bottom: 2.5rem;
}

.section .row {
    display: flex;
    gap: 1.875rem;
}

.section .col {
    flex-grow: 1;
    border: .0625rem solid var(--bg-border);
    flex-basis: calc(100% / 3);
}

.top-card {
    text-align: center;
    border-bottom: .0625rem solid var(--bg-border);
    padding: .375rem;
}

.selection {
    padding-bottom: 2.5rem;
}

.center-card {
    padding: 1.0625rem;
}

.center-card h4 {
    font-weight: 800;
    font-size: 1.25rem;
    padding-bottom: .625rem;
}

.center-card p {
    font-size: .875rem;
    padding-bottom: 10px;
    font-weight: 700;
}

.center-card span {
    color: #a4a5a6;
    padding-right: .4375rem;
}

.list {
    padding: 2.5rem 0;
}

.list li {
    list-style: none;
    padding-bottom: 1.25rem;
}

.list li i {
    padding-right: .375rem;
}

.btn.btn-card {
    width: 100%;
    padding: .8125rem 0;
    margin-bottom: 1.875rem;
}

hr {
    margin: 2.8125rem 0;
    width: 20%;
}

.fa-check {
    color: #2371ff;
}

.list h5 {
    font-weight: 800;
    font-size: .9375rem;
}

/* .row-horizontal {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
}

.col-horizzontal {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.center-card {
    flex-grow: 1;
}

.col-hr {
    border: .0625rem solid #e2e2e4; 
} */


